1. Predicting Diabetes Onset Using Logistic Regression

   Dataset: 

Diabetes Dataset   

Preprocessing Steps:

Handle missing values if any.

Standardize features.

Encode categorical variables if any.

  Task:
  
Implement logistic regression to predict diabetes onset and evaluate the model using accuracy, precision, and recall.

In [1]:
import pandas as pd
df= pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [2]:
df.dropna

<bound method DataFrame.dropna of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]>

In [3]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
X=df.drop(columns=['Outcome'])
y= df['Outcome']

In [5]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
standardized= scaler.fit_transform(X)
standardized = pd.DataFrame(standardized, columns=X.columns)

standardized

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496
...,...,...,...,...,...,...,...,...
763,1.827813,-0.622642,0.356432,1.722735,0.870031,0.115169,-0.908682,2.532136
764,-0.547919,0.034598,0.046245,0.405445,-0.692891,0.610154,-0.398282,-0.531023
765,0.342981,0.003301,0.149641,0.154533,0.279594,-0.735190,-0.685193,-0.275760
766,-0.844885,0.159787,-0.470732,-1.288212,-0.692891,-0.240205,-0.371101,1.170732
767,-0.844885,-0.873019,0.046245,0.656358,-0.692891,-0.202129,-0.473785,-0.871374

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(standardized, y, test_size=0.2, random_state=42)

In [7]:
from sklearn.linear_model import LogisticRegression

regression= LogisticRegression()
regression.fit(X_train, y_train)

LogisticRegression()

In [8]:
y_predict=regression.predict(X_test)
print(y_predict)

[0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 1 1 0 0 1 0 1 1 0 0 0 0 1 1 1 1 1 1 1
 0 1 1 0 1 1 0 0 1 1 0 0 1 0 1 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1 0 1 1 0 0 0
 0 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 0 0 1 0 1 0 1 0 1 0 0 1 0 1 0
 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0]

In [9]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

accuracy= accuracy_score(y_test, y_predict)
precision= precision_score(y_test, y_predict)
recall= recall_score(y_test, y_predict)


print("Accuracy: ",accuracy)
print("Precision : ",precision)
print("REcall : ",recall)

Accuracy:  0.7532467532467533
Precision :  0.6491228070175439
REcall :  0.6727272727272727

2. Classifying Iris Species Using Decision Trees

   Dataset: 

Iris Dataset

   Preprocessing Steps:

Handle missing values if any.

Standardize features.

Encode categorical variables if any.

   Task: 
   
Implement a decision tree classifier to classify iris species and evaluate the model using confusion matrix and accuracy.

In [10]:
import pandas as pd
df= pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['species'] = label_encoder.fit_transform(df['species'])

In [12]:
from sklearn.preprocessing import StandardScaler
X= df.drop(columns=['species'])
scaler= StandardScaler()
standardized_features=scaler.fit_transform(X)

y=df['species']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [15]:
y_pred = model.predict(X_test)
print(y_pred)

[1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0]

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score
conf_matrix = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)

print("Confusion matrix: ", conf_matrix)
print("accuracy: ", accuracy)

Confusion matrix:  [[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]
accuracy:  1.0

3. Predicting Titanic Survival Using Logistic Regression

   Dataset: 

Titanic Dataset

   Preprocessing Steps:

Handle missing values (e.g., fill missing ages with median).

Encode categorical variables (e.g., one-hot encoding for embarked and gender).

Standardize numerical features.

   Task:
   
Implement logistic regression to predict survival on the Titanic and evaluate the model using ROC-AUC.

In [17]:
import pandas as pd
df= pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [18]:
df['Age'].isnull().sum()

177

In [19]:
from sklearn.impute import SimpleImputer
imputer= SimpleImputer(strategy='median')
# df['Age'] = pd.to_numeric(df['Age'])

age = df['Age'].values.reshape(-1, 1)

df['Age']= imputer.fit_transform(age)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
df['Age'].isnull().sum()

0

In [21]:
from sklearn.preprocessing import OneHotEncoder
encoder= OneHotEncoder(sparse_output=False)
embarked = df['Embarked'].values.reshape(-1, 1)
df['Embarked']= encoder.fit_transform(embarked)

gender = df['Sex'].values.reshape(-1, 1)
df['Sex']= encoder.fit_transform(gender)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0.0,22.0,1,0,A/5 21171,7.2500,NaN,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,38.0,1,0,PC 17599,71.2833,C85,1.0
2,3,1,3,"Heikkinen, Miss. Laina",1.0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1.0,35.0,1,0,113803,53.1000,C123,0.0
4,5,0,3,"Allen, Mr. William Henry",0.0,35.0,0,0,373450,8.0500,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0.0,27.0,0,0,211536,13.0000,NaN,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",1.0,19.0,0,0,112053,30.0000,B42,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1.0,28.0,1,2,W./C. 6607,23.4500,NaN,0.0
889,890,1,1,"Behr, Mr. Karl Howell",0.0,26.0,0,0,111369,30.0000,C148,1.0
890,891,0,3,"Dooley, Mr. Patrick",0.0,32.0,0,0,370376,7.7500,NaN,0.0

In [22]:
df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
df

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3  0.0  22.0      1      0   7.2500       0.0
1              2         1       1  1.0  38.0      1      0  71.2833       1.0
2              3         1       3  1.0  26.0      0      0   7.9250       0.0
3              4         1       1  1.0  35.0      1      0  53.1000       0.0
4              5         0       3  0.0  35.0      0      0   8.0500       0.0
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
886          887         0       2  0.0  27.0      0      0  13.0000       0.0
887          888         1       1  1.0  19.0      0      0  30.0000       0.0
888          889         0       3  1.0  28.0      1      2  23.4500       0.0
889          890         1       1  0.0  26.0      0      0  30.0000       1.0
890          891         0       3  0.0  32.0      0      0   7.7500       0.0

[891 rows x 9 columns]

In [23]:
# df.drop(columns='Name')
# df.drop(columns='Ticket')

In [24]:
# df.drop(columns='Name')
from sklearn.preprocessing import StandardScaler
features= ['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']
X=df[features]
scaler=StandardScaler()
X= scaler.fit_transform(X)
y=df['Survived']
print(X.shape)
print(y.shape)

(891, 8)
(891,)

In [25]:

from sklearn.model_selection import train_test_split

X_test, X_train, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=42)
print(f"Shape of X_train: {X_train.shape}")
print(f"Shape of X_test: {X_test.shape}")
print(f"Shape of y_train: {y_train.shape}")
print(f"Shape of y_test: {y_test.shape}")

Shape of X_train: (179, 8)
Shape of X_test: (712, 8)
Shape of y_train: (712,)
Shape of y_test: (179,)

In [26]:
# from sklearn.linear_model import LogisticRegression
# model= LogisticRegression(random_state=42)
# model.fit(X_train, y_train)

4. Classifying Emails as Spam Using Decision Trees

Dataset: 

Spam Email Dataset

Preprocessing Steps:

Handle missing values if any.

Standardize features.

Encode categorical variables if present.

Task: 

Implement a decision tree classifier to classify emails as spam or not and evaluate the model using precision, recall, and F1-score.

In [27]:
import pandas as pd
df= pd.read_csv('emails.csv')
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [28]:
X= df[['text']].values
y=df['spam']

In [29]:
from sklearn.preprocessing import OneHotEncoder

encoder= OneHotEncoder(sparse_output= False)
text = df['text'].values.reshape(-1, 1)
X= encoder.fit_transform(text)

df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [30]:
from sklearn.preprocessing import StandardScaler

scaler= StandardScaler()

standardized_text= scaler.fit_transform(X)

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(standardized_text, y, test_size=0.2, random_state=42)

In [32]:
from sklearn.tree import DecisionTreeClassifier
tree= DecisionTreeClassifier(random_state=42)
tree.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [33]:
y_pred= tree.predict(X_test)
print(y_pred)

[0 0 0 ... 0 0 0]

In [34]:
from sklearn.metrics import precision_score, recall_score, f1_score, classification_report
precision= precision_score(y_test, y_pred)
recall= recall_score(y_test, y_pred)
f1_score= f1_score(y_test, y_pred)
classification_report= classification_report(y_test, y_pred)
print(f"Precision: ", precision)
print(f"REcall score: ", recall)
print(f"f1 score: ", f1_score)

print(f"Classification report: ", classification_report)

Precision:  0.0
REcall score:  0.0
f1 score:  0.0
Classification report:                precision    recall  f1-score   support

           0       0.75      1.00      0.86       856
           1       0.00      0.00      0.00       290

    accuracy                           0.75      1146
   macro avg       0.37      0.50      0.43      1146
weighted avg       0.56      0.75      0.64      1146

C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

5. Predicting Customer Satisfaction Using Logistic Regression

Dataset: 

Customer Satisfaction Dataset

Preprocessing Steps:

Handle missing values (e.g., fill missing values with median).

Encode categorical variables (e.g., one-hot encoding for region).

Standardize numerical features.

Task: 

Implement logistic regression to predict customer satisfaction and evaluate the model using accuracy and confusion matrix.

In [35]:
import pandas as pd
df=pd.read_csv('Customer-survey-data.csv')
df

,Customer,How satisfied were you with your overall delivery experience at Ali? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the quality of the food at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the speed of delivery at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,Was your order accurate? Please respond yes or no.
0,1,5.0,3.0,4.0,Yes
1,2,3.0,4.0,3.0,Yes
2,3,4.0,5.0,2.0,Yes
3,4,5.0,3.0,4.0,Yes
4,5,2.0,5.0,1.0,Yes
...,...,...,...,...,...
10611,10612,4.0,2.0,3.0,Yes
10612,10613,3.0,3.0,3.0,Yes
10613,10614,5.0,3.0,3.0,Yes
10614,10615,3.0,3.0,3.0,Yes
10615,10616,1.0,3.0,3.0,Yes

In [36]:
df.dropna()

,Customer,How satisfied were you with your overall delivery experience at Ali? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the quality of the food at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the speed of delivery at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,Was your order accurate? Please respond yes or no.
0,1,5.0,3.0,4.0,Yes
1,2,3.0,4.0,3.0,Yes
2,3,4.0,5.0,2.0,Yes
3,4,5.0,3.0,4.0,Yes
4,5,2.0,5.0,1.0,Yes
...,...,...,...,...,...
10611,10612,4.0,2.0,3.0,Yes
10612,10613,3.0,3.0,3.0,Yes
10613,10614,5.0,3.0,3.0,Yes
10614,10615,3.0,3.0,3.0,Yes
10615,10616,1.0,3.0,3.0,Yes

In [37]:
df.isnull().sum()

Customer                                                                                                                                                        0
How satisfied were you with your overall delivery experience at Ali?                    1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied      418
How satisfied were you with the quality of the food at Alis?                             1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied     252
How satisfied were you with the speed of delivery at Alis?                                1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied    239
Was your order accurate? Please respond yes or no.                                                                                                            660
dtype: int64

In [38]:
from sklearn.impute import SimpleImputer
imputer= SimpleImputer(strategy='median')

overall_delivery_experience = df['How satisfied were you with your overall delivery experience at Ali?                    1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied'].values.reshape(-1, 1)

df['How satisfied were you with your overall delivery experience at Ali?                    1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied']= imputer.fit_transform(overall_delivery_experience)
df

,Customer,How satisfied were you with your overall delivery experience at Ali? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the quality of the food at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the speed of delivery at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,Was your order accurate? Please respond yes or no.
0,1,5.0,3.0,4.0,Yes
1,2,3.0,4.0,3.0,Yes
2,3,4.0,5.0,2.0,Yes
3,4,5.0,3.0,4.0,Yes
4,5,2.0,5.0,1.0,Yes
...,...,...,...,...,...
10611,10612,4.0,2.0,3.0,Yes
10612,10613,3.0,3.0,3.0,Yes
10613,10614,5.0,3.0,3.0,Yes
10614,10615,3.0,3.0,3.0,Yes
10615,10616,1.0,3.0,3.0,Yes

In [39]:
quality_of_food = df['How satisfied were you with the quality of the food at Alis?                             1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied'].values.reshape(-1, 1)

df['How satisfied were you with the quality of the food at Alis?                             1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied']= imputer.fit_transform(quality_of_food)
df

,Customer,How satisfied were you with your overall delivery experience at Ali? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the quality of the food at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the speed of delivery at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,Was your order accurate? Please respond yes or no.
0,1,5.0,3.0,4.0,Yes
1,2,3.0,4.0,3.0,Yes
2,3,4.0,5.0,2.0,Yes
3,4,5.0,3.0,4.0,Yes
4,5,2.0,5.0,1.0,Yes
...,...,...,...,...,...
10611,10612,4.0,2.0,3.0,Yes
10612,10613,3.0,3.0,3.0,Yes
10613,10614,5.0,3.0,3.0,Yes
10614,10615,3.0,3.0,3.0,Yes
10615,10616,1.0,3.0,3.0,Yes

In [40]:
speed_of_delivery = df['How satisfied were you with the speed of delivery at Alis?                                1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied'].values.reshape(-1, 1)

df['How satisfied were you with the speed of delivery at Alis?                                1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied']= imputer.fit_transform(speed_of_delivery)
df

,Customer,How satisfied were you with your overall delivery experience at Ali? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the quality of the food at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the speed of delivery at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,Was your order accurate? Please respond yes or no.
0,1,5.0,3.0,4.0,Yes
1,2,3.0,4.0,3.0,Yes
2,3,4.0,5.0,2.0,Yes
3,4,5.0,3.0,4.0,Yes
4,5,2.0,5.0,1.0,Yes
...,...,...,...,...,...
10611,10612,4.0,2.0,3.0,Yes
10612,10613,3.0,3.0,3.0,Yes
10613,10614,5.0,3.0,3.0,Yes
10614,10615,3.0,3.0,3.0,Yes
10615,10616,1.0,3.0,3.0,Yes

In [41]:
from sklearn.preprocessing import OneHotEncoder

encoder= OneHotEncoder(sparse_output= False)
text = df['Was your order accurate? Please respond yes or no.'].values.reshape(-1, 1)
df['Was your order accurate? Please respond yes or no.']= encoder.fit_transform(text)

df

,Customer,How satisfied were you with your overall delivery experience at Ali? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the quality of the food at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,How satisfied were you with the speed of delivery at Alis? 1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied,Was your order accurate? Please respond yes or no.
0,1,5.0,3.0,4.0,0.0
1,2,3.0,4.0,3.0,0.0
2,3,4.0,5.0,2.0,0.0
3,4,5.0,3.0,4.0,0.0
4,5,2.0,5.0,1.0,0.0
...,...,...,...,...,...
10611,10612,4.0,2.0,3.0,0.0
10612,10613,3.0,3.0,3.0,0.0
10613,10614,5.0,3.0,3.0,0.0
10614,10615,3.0,3.0,3.0,0.0
10615,10616,1.0,3.0,3.0,0.0

In [42]:
X=df.drop(columns='Was your order accurate? Please respond yes or no.')
y=df['Was your order accurate? Please respond yes or no.']

In [43]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
standardized_features= scaler.fit_transform(X)

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(standardized_features, y, test_size=0.2, random_state=42)

In [45]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [46]:
y_pred=model.predict(X_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [47]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy=accuracy_score(y_test, y_pred)

confusion_matrix= confusion_matrix(y_test, y_pred)

print("Accuracy: ", accuracy)
print("Confusion MAtrix: ", confusion_matrix)

Accuracy:  0.7311676082862524
Confusion MAtrix:  [[1553    5]
 [ 566    0]]