Implementing K-Means Clustering

Task: Apply K-Means clustering to the Iris dataset and visualize the clusters using a scatter plot of two features.

 Evaluate the clustering by comparing it to the actual species labels.

In [2]:
import pandas as pd
df=pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [4]:
X=df.drop(columns='species')
y= df['species']

In [6]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
standardized_features=scaler.fit_transform(X)

In [7]:
from sklearn.model_selection import train_test_split
X_test, X_train, y_test, y_train= train_test_split(standardized_features,y,random_state=42, test_size=0.2)

In [10]:
from sklearn.cluster import KMeans
kmean= KMeans(n_clusters=4, random_state=42)
kmean.fit(standardized_features)
clusters = kmean.labels_

C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)